@use "variables" as v;

body {
  width: 100%;
  height: 100vh;
  font-family: v.$font-family-global;
  color: v.$font-global-color;
  background-image: v.$page-bg-img;
  background-size: cover;
  background-position: center;
  line-height: v.$line-height-global;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: v.$page-bg-overlay, v.$page-bg-dark;
    background-size: auto;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
#page_wrapper {
  width: 100%;
  height: 100%;
  padding-inline: v.$padding-inline-global;
  position: relative;
  z-index: 5;
}
