@use "variables" as v;

.tabCard {
  background-color: v.$tab-bg-color;
  padding: v.$padding-2;
  width: min(600px, 100% - 1rem);
  min-height: 500px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: v.$margin-1;

    .cardTitle {
      border-bottom: v.$border-global;
      text-transform: uppercase;
      letter-spacing: v.$letter-spacing-global;
    }
  }
  .cardMedia {
    height: 300px;
    margin-bottom: v.$margin-2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardExitButton img {
    width: 30px;
    height: 30px;
  }
  .cardExitButton {
    transition: transform 0.2s linear;

    &:hover {
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 425px) {
  .tabCard {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}
